body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0s0Si-WW53Yb0MHlOSeaHe921v-dPwh5O5WDFTsyIQRWvjTrT:https://i.pinimg.com/736x/13/75/59/137559dd8428ef1289987a53ac109f94.jpg&s");
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: 'Courier New', Courier, monospace
}
#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    border: white;
    margin: 0 auto;
    display: flex;
    padding: 10px;
}

h1 {
    font-family: "Lucida Handwriting", cursive;
    font-size: 60px;
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    font-family:cursive, "Segeo Script";
    color: white;
}

/* main container area beneath menu */
main {
   
    display: flex;
    margin-top: 20px;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    
    width: 200px;
    height:200px; 

}
p 
{ color: white;
    font-family:"Segoe Script", cursive;
    margin-right: 50px;
    margin-left: 10px;
    margin-top: -40px;

}
.content {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    font-family:"Segoe Script", cursive;
    color: white;
    border: 4px silver ridge;
    padding: 4px;
    margin-top: 10px;
}

h2{ 
    font-size: 50px;
    font-family:"Segoe Script", cursive; 
    color:white;
    margin-left: -250px;
    margin-top: 200px;

}
 h3 {
    margin: 0px;
}